<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>

<body>
  <%- include('partials/nav'); %>
  <!-- <ul>
    <% posts.forEach(function(post, index){ %>
    <%- include('partials/post', {post: post}); %>
    <% }); %>
  </ul> -->
  <main>
    <section class="hero" data-hax>
      <div class="hero-image-container">
        <img src="<%= posts[0].images.hero %>" data-parallax />
      </div>
      <div class="container">
        <h6><%= posts[0].category %></h6>
        <h2><%= posts[0].title %></h2>
        <div class="info">
          <span><%= posts[0].author %></span>
          <span><%= posts[0].date %></span>
        </div>
        <%- posts[0].post.substring(0, 220) %>....</p>
        <a href="<%- posts[0].post.substring(0, 220) %>">LEER MAS</a>
      </div>
    </section>
    <h2 class="title-section" data-hax>MAS POSTS</h2>
    <section class="posts">
      <div class="posts-grid">
        <%- include('partials/post-card', { post: posts[0] }); %>
        <%- include('partials/post-card', { post: posts[1] }); %>
        <%- include('partials/post-card', { post: posts[2] }); %>
        <%- include('partials/post-card', { post: posts[3] }); %>
      </div>
    </section>
    <h2 class="title-section" data-hax>SOBRE EL EDITOR</h2>
    <%- include('partials/author', { author }); %>
  </main>
  <%- include('partials/footer', { footer }); %>
  <script src="./scripts/index.js"></script>
</body>

</html>